@model IEnumerable<Book>

@{
    ViewData["Title"] = "Todos os seus livros";
}

<div class="divElements">
    <h3 style="text-align:center">@ViewData["Title"]</h3>
</div>

<div>
    <a class="btn btn-success" asp-controller="Books" asp-action="Create">Criar novo</a>
</div>

<div class="row">
    @foreach (Book book in Model)
    {
    <div class="booksRow col-4">
        <div style="text-align:center">
            <img src="@book.ImagePath" width="125" height="125" loading="lazy" asp-append-version="true" />
        </div>
        <h4 style="padding-top:20px">@book.Title</h4>

        <wbr />
        <div style="height:30px;">
            <h5 class="bookInfo" style="max-width:170px">@book.Genre.GetDisplayName()</h5>
            <h5 class="bookInfo" style="float:right">@book.Price.ToString("C2", CultureInfo.CurrentCulture)</h5>
        </div>

        <a class="btn btn-info" style="float:right" asp-area="Author" asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id">Editar</a>
    </div>
    }
</div>

<style>
    .divElements {
        padding: 40px
    }

    .booksRow {
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px
    }

    .bookInfo {
        max-height: 2px;
        display: inline-block
    }
</style>