@model BookViewModel

@{ ViewData["Title"] = Model.CurrentFilter; }

<div class="topContent">
    <div class="titleContent divElements">
        <h3>@ViewData["Title"]</h3>
        <h4>@Model.FilterDetails</h4>
    </div>

    <form>
        <div class="form-group divElements">
            <input type="text" class="form-control" style="text-align:right" placeholder="Pesquisar" name="searchString" />
            <input type="submit" class="btn btn-success" value="Pesquisar" style="float:right" asp-action="FindByParams" />
        </div>
    </form>
</div>

<div class="row">
    <partial name="_BooksPartial" for="Books" />
</div>

@if (Model.PageDetails.TotalPages > 1)
{
    @if (Model.PageDetails.HasPreviousPage())
    {
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.PageDetails.PreviousPage" asp-route-search="@Model.CurrentFilter">Página anterior</a>
    }
    @if (Model.PageDetails.HasNextPage())
    {
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.PageDetails.NextPage" asp-route-search="@Model.CurrentFilter">Próxima página</a>
    }
}

<style>
    .topContent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleContent {
        max-width: 420px;
    }

    .divElements {
        padding: 40px;
    }
</style>