@model BookViewModel

@{
    ViewData["Title"] = Model.CurrentFilter;
}

<div class="top-content">
    <div class="div-elements title-content">
        <h3>@ViewData["Title"]</h3>
    </div>

    <form>
        <div class="form-group div-elements">
            <input type="text" class="form-control" style="text-align:right" placeholder="Pesquisar" name="searchString" />
            <input type="submit" class="btn btn-success" value="Pesquisar por título" asp-action="FindByTitle" />
            <input type="submit" class="btn btn-success" value="Pesquisar por autor" asp-action="FindByAuthor" />
        </div>
    </form>
</div>

<partial name="_BooksPartial" for="Books" />

@if (Model.PageCount > 1)
{
    <div style="display:inline-block">
        <h4 class="form-control">Página @Model.Page de @Model.PageCount</h4>
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.Page-1">Anterior</a>
        <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.Page+1">Próxima</a>
    </div>
}

<style>
    .top-content {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .title-content {
        max-width: 420px;
    }

    .div-elements {
        padding:40px
    }
</style>