@model BookViewModel

@{
    ViewData["Title"] = Model.CurrentFilter;
}

<div class="topContent">
    <div class="divElements titleContent">
        <h3>@ViewData["Title"]</h3>
    </div>

    <form>
        <div class="form-group divElements">
            <input type="text" class="form-control" style="text-align:right" placeholder="Pesquisar" name="searchString" />
            <input type="submit" class="btn btn-success" value="Pesquisar por título" asp-action="FindByTitle" />
            <input type="submit" class="btn btn-success" value="Pesquisar por autor" asp-action="FindByAuthor" />
        </div>
    </form>
</div>

<div class="row">
    <partial name="_BooksPartial" for="Books" />
</div>

@if (Model.PageCount > 1)
{
    <div class="container" style="display:inline-block">
        <h4 class="form-control">Página @Model.Page de @Model.PageCount</h4>
        <div style="display:inline-block">
            <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.Page-1">Anterior</a>
            <a type="button" class="btn btn-link" asp-action="Index" asp-route-page="@Model.Page+1">Próxima</a>
        </div>
    </div>
}

<style>
    .topContent {
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .titleContent {
        max-width: 420px;
    }

    .divElements {
        padding:40px
    }
</style>