@model IEnumerable<Book>

@{
    ViewData["Title"] = "Todos os seus livros";
}

<div class="div-elements">
    <h3 style="text-align:center">@ViewData["Title"]</h3>
</div>

<div>
    <a class="btn btn-success" asp-controller="Books" asp-action="Create">Criar novo</a>
</div>

<div class="row">
    @foreach (Book book in Model)
    {
        <div class="books-column col-4">
            <div style="text-align:center">
                <img src="@book.ImagePath" width="125" height="125" loading="lazy" asp-append-version="true" />
            </div>
            <h4 style="padding-top:20px">@book.Title</h4>

            <div class="book-infos">
                <div class="left-line">
                    <h5>@book.Genre.GetDisplayName()</h5>
                </div>
                <div class="right-line">
                    <h5>@book.Price.ToString("C2")</h5>
                </div>
            </div>

            <div class="book-infos">
                <div class="book-buttons">
                    <a class="btn btn-info" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Detalhes</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .row {
        align-items: center;
        justify-content: center;
    }

    .books-column {
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px
    }

    .book-infos {
        display: flex;
        align-items: center;
    }

    .left-line {
        text-align: left;
    }

    .right-line {
        text-align: right;
    }

    .book-infos {
        float: right;
    }
</style>