@model IEnumerable<Book>

@foreach (Book book in Model)
{
    <div class="booksRow col-4">
        <h4>@book.Title</h4>
        <h5>por @book.Author.FullName</h5>
        <div>
            <h5 class="bookInfo">@book.Genre.GetDisplayName()</h5>
            <h5 class="bookInfo" style="float:right">@book.Price</h5>
        </div>

        <a class="btn btn-info" style="float:right" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Detalhes</a>
    </div>
}

<style>
    .booksRow {
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px
    }

    .bookInfo {
        max-height: 2px;
        display: inline-block
    }
</style>