@model IEnumerable<Book>

<div class="row">
    @foreach (Book book in Model)
    {
        <div class="books-column col-4">
            <div style="text-align:center">
                <img src="@book.ImagePath" width="125" height="125" loading="lazy" asp-append-version="true" />
            </div>
            <h4 style="padding-top:20px">@book.Title</h4>

            <wbr />

            <h5>por @book.Author.FullName</h5>
            <h5>@book.Genre.Name</h5>
            <h5>@book.ReturnPrice()</h5>

            <div style="float:right;">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="ShoppingCart" asp-action="AddBookToCart" asp-route-id="@book.Id">
                        <img src="~/Images/add-to-cart.png" width="32" height="32" asp-append-version="true" />
                    </a>
                }
                <a class="btn btn-info" asp-action="Details" asp-route-id="@book.Id">Detalhes</a>
            </div>
        </div>
    }
</div>

<style>
    .row {
        align-items:center;
        justify-content: center;
    }
    .books-column {
        align-items:center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px
    }
</style>