@model IEnumerable<Book>

@foreach (Book book in Model)
{
    <div class="books-column col-4">
        <div style="text-align:center">
            <img src="@book.ImagePath" width="125" height="125" loading="lazy" asp-append-version="true" />
        </div>
        <h4 style="padding-top:20px">@book.Title</h4>

        <wbr />
        <h5>por @book.Author.FullName</h5>

        <div class="book-infos">
            <div class="left-line">
                <h5>@book.Genre.GetDisplayName()</h5>
            </div>
            <div class="right-line">
                <h5>@book.Price.ToString("C2")</h5>
            </div>
        </div>

        <div class="book-infos">
            <div class="book-buttons">
                <a asp-controller="ShoppingCart" asp-action="AddBookToCart" asp-route-id="@book.Id">
                    <img src="~/Images/add-to-cart.png" width="40" height="40" asp-append-version="true"/>
                </a>
                <a class="btn btn-info" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Detalhes</a>
            </div>
        </div>
    </div>
}

<style>
    .books-column {
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px
    }

    .book-infos {
        display:flex;
        align-items:center;
    }
    .left-line {
        text-align: left;
    }
    .right-line {
        text-align: right;
    }
    .book-infos {
        float:right;
    }
</style>